* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.completed {
  text-decoration: line-through;
}

body {
  background-color: whitesmoke;
}
body.dark-mode {
  background-color: black;
}

.dark-mode h1,
.dark-mode .pending-info,
.dark-mode .mode {
  color: whitesmoke;
}
